<!DOCTYPE html>
<html>
  <head>
    <title>StravaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-900">
    <nav class="bg-blue-600 p-4 text-white">
      <h1 class="text-xl font-bold">Strava App</h1>
    </nav>

    <main class="container mx-auto p-6">
      <% if current_user %>
        <p>Welcome, <%= current_user.first_name %>!</p>
        <%= image_tag current_user.profile_picture, width: 50 if current_user.profile_picture %>
        <%= link_to "Logout", logout_path, method: :delete %>
      <% else %>
        <a href="https://www.strava.com/oauth/authorize?client_id=<%= ENV['STRAVA_CLIENT_ID'] %>&response_type=code&redirect_uri=<%= CGI.escape(auth_strava_callback_url) %>&scope=read,profile:read_all,activity:read">
          Login with Strava
        </a>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
